**/.gradle/
**/build/
**/bin/
**/.project/
**/.settings/
.classpath
.project
**/.project
**/.settings
**.idea/**
.idea/**
**/out/
*.iml
.scannerwork/**
.scannerwork/*
**/logs/*
**/application-prod.yml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
