.webauthn-authenticate {
  .layout-main {
    &__bottom {
      .cards-container {
        .card-layout {
          &__header {
            border-radius: 1.4rem 1.4rem 0rem 0rem;
            background: linear-gradient(
              311deg,
              $blue 0%,
              $blue 58.67%,
              $purple 100%
            );
            padding: 2.7rem;
            position: relative;
            
            h2 {
              color: $white;
              font-size: 2.4rem;
              font-weight: 600;
              position: relative;
              z-index: 99;
            }

            &::before {
              content: '';
              background-image: url("../images/line1.png");
              position: absolute; 
              width: 47%; 
              height: 77%; 
              background-repeat: no-repeat; 
              z-index: 1;
              top: 1.1rem;
              right: 3rem;
            }
          }
          position: absolute;
          top: -4rem;
          right: 28rem;
          padding: 0;
          width: 48rem;
          min-height: 28rem;
          height: auto;

          @media screen and (min-width: 1200px) and (max-width: 1440px) {
            top: -5rem;
          }

          #kc-form-login {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 2rem;

              #username {
                padding: 1rem;
                border-radius: 0.5rem;
                outline: 0;
                border: 1px solid $gray2;
                width: 30rem;
                margin-top: 0.5rem;
              }

              #input-error-username {
                display: block;
                color: red;
              }
          }

          #kc-page-title {
            padding-top: 2rem;
            text-align: center;
          }

          #kc-username {
            margin: 3rem 0;
            text-align: center;

            label#kc-attempted-username {
              font-size: 1.8rem;
              margin-bottom: 2rem;
              display: block;
            }

            #reset-login {
              font-size: 1.8rem;
              display: inline-block;
            }
          }

          #kc-form-buttons {
            text-align: center;

            #authenticateWebAuthnButton,
            #kc-login, #kc-try-again, #backToApplication {
              min-width: 20rem;
              height: 4.2rem;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              background-color: $mediumBlue;
              border: 0;
              color: $white;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 600;
              border-radius: 0.8rem;
              padding: 1rem 2rem;
              display: inline-block;
              cursor: pointer;
            }
          }

          #kc-content-wrapper {
            padding-bottom: 2rem;

            .alert-error {
              text-align: center;
              color: red;
              font-size: 1.6rem;
              margin-bottom: 2rem;
            }

            #kc-error-message  {
              .instruction {
                padding: 0 38px;
                color: red;
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
