.layout-main {
  &__top {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4.5rem;

    h3 {
      color: $blue;
      font-size: 4rem;
      font-weight: 600;
      line-height: normal;
      position: relative;
      top: 8rem;
      left: 15rem;
    }

    img {
    }
  }

  &__bottom {
    background: linear-gradient(311deg, #46daff 0%, #000094 50%, #b900ff 100%);
    height: calc(100vh - 30rem);
    position: relative;
    // overflow: hidden;
    padding: 8rem 10% 1rem 10%;

    &::before {
      content: "";
      background-image: url("../images/line.png");
      background-repeat: repeat-y;
      width: 100%;
      height: 25%;
      left: 0;
      z-index: 1;
      position: absolute;
      bottom: 0;
    }

    .steper-container {
      margin-bottom: 7rem;

      ul {
        display: flex;

        li {
          list-style-type: none;
          position: relative;
          width: 48rem;

          &::before {
            content: "Step 2";
            position: absolute;
            color: $gray4;
            left: -0.1rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: normal;
            top: 3.8rem;
          }

          &::after {
            content: "";
            position: absolute;
            border: 1px solid $gray3;
            top: 1.4rem;
            width: 90%;
            left: 3.7rem;
          }

          &:first-child {
            &::before {
              content: "Step 1";
            }
          }

          &:last-child {
            &::before {
              content: "Step 3";
            }
            &::after {
              content: none;
            }
          }
        }
      }
    }

    .cards-container {
      display: flex;
      gap: 4.7rem;

      .card-layout {
        width: 42rem;
        height: 26rem;
        background-color: $white;
        border-radius: 0.8rem;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
        padding: 4rem 3.7rem;

        h3,
        h1 {
          color: #000;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 3rem;
        }

        p {
          color: #000;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: normal;
        }

        .proceed-link {
          text-align: center;
          margin-top: 5rem;
          a,
          span {
            display: inline-block;
            color: #465aff;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
          }

          span {
            color: #63be38;
          }
        }
      }

      .lock-screen {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.7rem;

        p {
          font-size: 2rem;
          font-weight: 600;
          width: 20.5rem;
        }
      }
    }
  }
}
